---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written on&nbsp;</span
    ><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

  <p class="post-info">
    {% for tag in page.tags %}
    <a href="#{{ tag[0] }}">{{ tag[0] }}</a>
    {% endfor %}
  </p>
</div>

{% if page.comments %} {% include disqus_comments.html %} {% endif %}

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow"
    >&leftarrowtail;</a
  >
  {% endif %} {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow"
    >&rightarrowtail;</a
  >
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
